/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  top: 0px;
  height: auto;
  width: 100%;
  max-width: 800px;
}

img {
  width: 100%;
  max-width: 800px;
  height: auto;
}
