/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

body {
  background-color: #f0f0f0;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  width: 100%;
  max-width: 800px;
  margin-left: 30vw;
}

img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-left: 30vw;
}
